.Brand {
}

.HeadBrand {
    background: aquamarine;
    text-align: center;
}

.AllBrand {
    width: 20%;
    background-color: violet;
    radius: 25px;
    color: blueviolet;
    font-size: 24px;
    text-align: left;
}

.EditAllBrand {
    background-color: violet;
    radius: 25px;
    color: blueviolet;
    font-size: 24px;
    text-align: right;
}